{% extends "base.html" %}
{% block content %}
<div class="content-section" 
    style="height: 80%;
    width: 60%;
    position: fixed;
    margin: 5% 0 0 50px;

    padding: 25px;
    border-radius: 15px;
    border: 2px solid rgb(192, 189, 189);">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-size: 40px;">Create a New Post</legend>
<!--                this is the part where wer create each individual components username, email, password, etc-->
<!--                variable names here to -->

            <div class = "form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                  {{ form.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class = "form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                  {{ form.content(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>


        </fieldset>
        <small class="form-check">
            {{ form.tweet(class="form-check-input") }}
            {{ form.tweet.label(class="form-check-label") }}
        </small>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>{% endblock content %}
