{% extends "base.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  <head>
  </head>
  <body>

  <script src="{{url_for('static', filename='script.js')}}"></script>
  <script>
    speechSynthesis.getVoices().forEach(function(voice) {
      console.log(voice.name, voice.default ? voice.default :'');
    });
  </script>


  <div class="forum-content-container" id="forum-content-container">
    <h3 class="forum_header">Texas A&M SILT Forum Page</h3>

    <div class="forum-content" >
    <nav class="navbar navbar-expand-lg navbar-light" id="forum_navbar" style="background-color: transparent;">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="forum_navbar_content">
          <li><a class="nav-item nav-link active" href="/home" style="font-weight: bold;"> Community Page <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link" href="/studyLounge" id="study"> Study </a></li>
          <li><a class="nav-item nav-link" href="/funny"> Housing </a></li>
          <li><a class="nav-item nav-link" href="/Events"> Food </a></li>
          <li><a class="nav-item nav-link" href="/sports"> Sports </a></li>
          <li><a class="nav-item nav-link" href="/course"> Course Help </a></li>
        </div>
      </div>
    </nav>


    <div class="row" id="forum-cards">
    {% for post in posts %}
        <div class="card">
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + post.author.user_pic) }}"
                style="height: 15%;
                width: 10%;
                opacity: 0.4;
                filter: alpha(opacity=40);
                margin: 2px 0 0 0;">
                  <a class="card-username" href="profile/{{ post.author.username }}">{{ post.author.username }}</a>
                  <!-- <h2>{{post.author.spotifyartist}}</h2> -->
                  <span class="tooltip-text">
                    Email: {{ post.author.email }}
                    <!-- Top Artist: {{post.author.spotifyartist}} -->
                  </span>

                  <!-- <a class="card-username" href="profile/{{ post.author.username }}">{{ post.author.username }}</a> -->

                <small class="text-muted" style="color: white;">{{ post.post_time.strftime('%Y-%m-%d') }}</small>
              </div>
              <h2 class="article-title">{{ post.title }}</h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
        </div>

    {% endfor %}
    </div>

    <button class="new-post-button"><a href= {{ url_for('new_post') }} >Create New Post</a></button>
  </div>
  </div>
  </body>

  </html>
  {% else %}
  <div class="container" id="home-container" style="margin: 0;">
    <img src="../static/image/tamu_broll.gif" id="background-img" width="100%" height="100%">
    <h3 id="greeting-text">Welcome to SILT</h3>
    <h3 id="greeting-text-2">Student Introduction to Life at Texas A&M</h3>
    <button type="button" class="btn btn-outline-secondary" id="btn1"><a class="nav-item nav-link" id="login_button" href="/login" style="color:#818181;">Login</a></button>
    <button type="button" class="btn btn-outline-secondary" id="btn2"><a class="nav-item nav-link" id="reg_button" href="/register" style="color: #818181;">Register</a></button>


  </div>

  {% endif %}
{% endblock content %}
