{% extends "base.html" %}
{% block content %}
<div class="content" id="login-content">
<div class="content-section" id="login-content-child">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-size: 30px;">Welcome Back</legend>
<!--this is the part where we create each individual components username, email, password, etc-->
<!--variable names here to -->

            <div class = "form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class = "form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-check">
              {{ form.remeber(class="form-check-input") }}
              {{ form.remeber.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="text-muted ml-2">
          <a href="#">Forgot Password?</a>
        </div>
    </form>
</div>

<!--this is the part where user might already have an account already -->
<div class="border-top pt-3">
    <small class="text-muted">
        Need  An Account?<a class = "ml-2" href="{{ url_for('register') }}">Sign Up</a>
    </small>
</div>
</div>
{% endblock content %}
